# Region: ap-southeast-7
region                = "ap-southeast-7"
profile               = "dev01-mfa"
domain                = "voteapp2025.thanhpham.click"
app_dns_zone          = "thanhpham.click"
availability_zones    = ["ap-southeast-7a", "ap-southeast-7b"]
workstation_ip        = "115.78.131.125/32"
cidr_block            = "10.11.0.0/16"
bastion_instance_type = "t3.micro"
bastion_ami           = "ami-05946457223abb033" #Ubuntu 24.04
app_instance_type     = "t3.micro"
app_ami               = "ami-05946457223abb033" #Ubuntu 24.04
db_instance_type      = "t3.micro"
db_ami                = "ami-05946457223abb033" #Ubuntu 24.04
keypair_path          = "./keypair/voteapp_2025_keypair.pub"